<div class="table-responsive">
  <table class="table table-hover table-bordered align-middle">
    <thead class="table-light">
      <tr>
        <th *ngFor="let column of columns"
            class="position-sticky top-0 bg-light text-nowrap"
            [class.user-select-none]="column.sortable"
            [class.cursor-pointer]="column.sortable"
            (click)="column.sortable && column.key !== 'actions' && handleSort(column.key)">
          <div class="d-flex align-items-center gap-2">
            {{ column.label }}
            <i *ngIf="column.sortable && sortConfig?.key === column.key" 
               class="bi"
               [class.bi-sort-up]="!sortConfig?.isDescending"
               [class.bi-sort-down]="sortConfig?.isDescending">
            </i>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let column of columns"
            class="text-nowrap">
          <ng-container *ngIf="column.key !== 'actions'; else actionsTemplate">
            <div class="text-truncate" 
                 [title]="column.render ? column.render(row[column.key], row).toString() : row[column.key]?.toString()">
              {{ column.render ? column.render(row[column.key], row) : row[column.key] }}
            </div>
          </ng-container>
          <ng-template #actionsTemplate>
            <div class="d-flex gap-2 flex-nowrap">
              <ng-container *ngIf="actions?.length">
                <button *ngFor="let action of actions"
                        [class]="action.class || 'btn btn-outline-secondary btn-sm'"
                        (click)="action.onClick(row)"
                        [class.d-none]="action.visible && !action.visible(row)">
                  {{ action.label }}
                </button>
              </ng-container>
            </div>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>