<div class="container mt-5">
  <h2 class="mb-4">Medicine Operations</h2>

  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <button class="btn btn-success mb-3" (click)="openCreateRequestModal()">
    <i class="bi bi-plus-circle"></i> New Request
  </button>

  <app-filter 
  [config]="filterConfig"
  [title]="'Filters'"
  (filterChange)="onFilterChange($event)">
  </app-filter>
  
  <div class="table-responsive">
    <app-table
    [columns]="requestColumns"
    [data]="requests"
    [actions]="tableActions"
    (sort)="onSortChange($event)"
    ></app-table>
  </div>

  <app-pagination
    [totalItems]="totalItems"
    [pageSize]="pageSize"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)"
  ></app-pagination>  

  
  <app-delete-confirmation-modal
  *ngIf="requestToDelete"
  [isOpen]="!!requestToDelete"
  [name]="requestToDelete.medicine.name"
  (confirm)="handleDeleteConfirm()"
  (cancel)="handleDeleteCancel()"
  ></app-delete-confirmation-modal>
    

  <app-create-medicine-request-form
  [isOpen]="isCreateRequestModalOpen"
  [medicines]="allMedicines"
  (submitRequest)="saveRequest($event)"
  (cancelRequest)="closeCreateRequestModal()"
></app-create-medicine-request-form>



<app-medicine-operations-details
  *ngIf="selectedRequest"
  [medicineRequest]="selectedRequest"
  (onClose)="selectedRequest = null"
  (onAction)="handleOperationAction($event)"
></app-medicine-operations-details>
