<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">Medicine storage</a>
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                @if (authService.currentUserToken()){
                    <li class="nav-item">
                        <a routerLink="/medicines" routerLinkActive="active" class="nav-link">Medicines</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/tenders" routerLinkActive="active" class="nav-link">Tenders</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/audits" routerLinkActive="active" class="nav-link">Audits</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/requests" routerLinkActive="active" class="nav-link">Requests</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/templates" routerLinkActive="active" class="nav-link">Templates</a>
                    </li>
                    <li *appHasRole="['Doctor', 'Admin']" class="nav-item">
                        <a routerLink="/admin" routerLinkActive="active" class="nav-link">Admin Page</a>
                    </li>
                    
                }

            </ul>
            @if (authService.currentUserToken()){
            <app-notifications class="me-3"></app-notifications>
            }
            <app-user-panel></app-user-panel>
            
    </div>
</nav>