.sidebar {
  background-color: #f8f9fa;
  min-height: 100vh;
  padding: 15px;
  border-right: 1px solid #dee2e6;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 56px;
  width: 25%;
  height: 100%;
  z-index: 1000;
}
.col-md-9 {
  margin-left: 25%; 
  padding: 0 15px;
}


.sidebar .list-group-item.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #ffc107;
}

.sidebar .list-group-item {
  border-radius: 0;
  margin-bottom: 2px;
  font-weight: 600;
  color: #333;
  position: relative;
  transition: all 0.3s ease-in-out;
  padding: 12px 15px;
  border: none;
}


.sidebar .list-group-item.active {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  font-weight: bold;
}


.tab-text {
  flex-grow: 1;
  font-size: 1rem;
}


.template-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.text-warning {
  color: #ffc107 !important;
}

.sidebar .list-group-item {
  border-radius: 0;
  margin-bottom: 2px;
}

.sidebar .list-group-item i {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .sidebar {
    min-height: auto;
    margin-bottom: 20px;
  }
}