<div class="container mt-5">
  <h2 class="mb-4">Tenders</h2>

  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <button class="btn btn-success mb-3" (click)="openCreateModal()">
    <i class="bi bi-plus-circle"></i> Add Tender
  </button>

  <app-filter 
  [config]="filterConfig"
  [title]="'Filters'"
  (filterChange)="onFilterChange($event)">
  </app-filter>

  <div class="table-responsive">
    <app-table
    [columns]="tableColumns"
    [data]="tenders"
    [actions]="tableActions"
    (sort)="onSortChange($event)"
    ></app-table>
  </div>

  <app-pagination
    [totalItems]="totalItems"
    [pageSize]="tenderParams.pageSize|| 10"
    [currentPage]="tenderParams.pageNumber || 1"
    (pageChange)="onPageChange($event)"
  ></app-pagination>  

  <app-delete-confirmation-modal
  *ngIf="tenderToDelete"
  [isOpen]="!!tenderToDelete"
  [name]="tenderToDelete.title"
  (confirm)="handleDeleteConfirm()"
  (cancel)="handleDeleteCancel()"
  ></app-delete-confirmation-modal>

  <app-create-tender-form
  *ngIf="isCreateTenderModalOpen" 
  [tender]="selectedTender"
  (save)="saveTender($event)"
  (close)="isCreateTenderModalOpen = false">
  </app-create-tender-form>

</div>
