<div class="card mb-4">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="card-title mb-0">{{ title }}</h5>
    <button class="btn btn-link" (click)="toggleFilters()">
      <i class="bi" [class.bi-chevron-down]="!isVisible" [class.bi-chevron-up]="isVisible"></i>
    </button>
  </div>
  <div class="card-body" *ngIf="isVisible">
    <form [formGroup]="form">
      <div class="row mb-3">
        <div *ngFor="let field of config" [class]="'col-md-' + (field.col || 3)">
          <label [for]="field.key" class="form-label">{{ field.label }}</label>
          
          <ng-container [ngSwitch]="field.type">
            <input *ngSwitchCase="'text'"
              [id]="field.key"
              type="text"
              class="form-control"
              [formControlName]="field.key">

            <input *ngSwitchCase="'number'"
              [id]="field.key"
              type="number"
              class="form-control"
              [formControlName]="field.key">

            <input *ngSwitchCase="'date'"
              [id]="field.key"
              type="date"
              class="form-control"
              [formControlName]="field.key">

            <select *ngSwitchCase="'select'"
              [id]="field.key"
              class="form-select"
              [formControlName]="field.key">
              <option [ngValue]="null">All</option>
              <option *ngFor="let opt of field.options" [value]="opt.value">
                {{ opt.label }}
              </option>
            </select>
          </ng-container>
        </div>
      </div>
      
      <div class="row">
        <div class="col d-flex justify-content-end gap-2">
          <button type="button" class="btn btn-secondary" (click)="resetFilters()">Reset</button>
          <button type="button" class="btn btn-primary" (click)="applyFilters()">Apply</button>
        </div>
      </div>
    </form>
  </div>
</div>