<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3>Tender Details #{{tender.id}}</h3>
    <div class="d-flex gap-2">
      <button *ngIf="tender.status === 1" 
              class="btn btn-primary btn-sm"
              (click)="addItem()">
        Add Item
      </button>
      
      <button *ngIf="tender.status === 1" 
              class="btn btn-success btn-sm"
              (click)="publishTender()">
        Publish Tender
      </button>
      
      <button *ngIf="tender.status === 2" 
              class="btn btn-danger btn-sm"
              (click)="closeTender()">
        Close Tender
      </button>
      <button *ngIf="tender.status === 1" 
      class="btn btn-danger btn-sm"
      (click)="deleteTenderPrompt(tender)">
      Delete
      </button>
      <button class="btn btn-outline-secondary" 
              (click)="closeDetails()">
        Back to List
      </button>
    </div>
  </div>

  
  <app-delete-confirmation-modal
  *ngIf="tenderToDelete"
  [isOpen]="!!tenderToDelete"
  [name]="tenderToDelete.title"
  (confirm)="handleDeleteConfirm()"
  (cancel)="handleDeleteCancel()"
  ></app-delete-confirmation-modal>

  <app-tender-items
    *ngIf="isTenderItemModalOpen" 
    [tenderId]="tender!.id" 
    [medicines]="allMedicines"
    (save)="saveTenderItem($event)" 
    (close)="isTenderItemModalOpen = false">
  </app-tender-items>

  <div class="card shadow mb-4">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
      <h5 class="card-title mb-0">Tender Information</h5>
      <span [class]="getBadgeByTenderStatus(tender.status)">{{ tender.status | tenderStatus}}</span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item"><strong>Title:</strong> {{tender.title}}</li>
            <li class="list-group-item"><strong>Description:</strong> {{tender.description}}</li>
            <li class="list-group-item"><strong>Deadline:</strong> {{tender.deadlineDate | localizedDate}}</li>
            <li class="list-group-item"><strong>Publish Date:</strong> {{tender.publishDate | localizedDate}}</li>
            <li class="list-group-item"><strong>Closing Date:</strong> {{tender.closingDate | localizedDate}}</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Created By:</strong> {{tender.createdByUser | userFullName}}
            </li>
            <li class="list-group-item">
              <strong>Opened By:</strong> {{tender.openedByUser | userFullName}}
            </li>
            <li class="list-group-item">
              <strong>Closed By:</strong> {{tender.closedByUser | userFullName}}
            </li>
            <li class="list-group-item">
              <strong>Winner Selected By:</strong> {{tender.winnerSelectedByUser | userFullName}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header bg-secondary text-white">
      <h5 class="card-title mb-0">Tender Items</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <app-table
          [columns]="itemsTableColumns"
          [data]="tender.items"
          [actions]="itemsTableActions"
          ></app-table>
      </div>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header bg-success text-white">
      <h5 class="card-title mb-0">Proposals</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <app-table
        [columns]="proposalTableColumns"
        [data]="proposals"
        [actions]="proposalTableActions"
        ></app-table>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end mb-5">
    <button class="btn btn-primary" 
            (click)="openProposalModal()"
            [disabled]="tender.status !== TenderStatus.Published">
      Create Proposal
    </button>
  </div>
</div>

<app-create-tender-proposal
  *ngIf="showProposalModal"
  [tenderId]="tender.id"
  [tenderItems]="tender.items"
  (onClose)="closeProposalModal()">
</app-create-tender-proposal>