<div class="container mt-5">
  <h2 class="mb-4">Medicines</h2> 
  <app-medicine-notifications *appHasRole="['Manager', 'Admin']"
  [allMedicines]="allMedicines">
  </app-medicine-notifications>
  

  <button  *appHasRole="['Manager', 'Admin']" class="btn btn-success mb-3" (click)="openCreateModal()">
    <i class="bi bi-plus-circle"></i> New Medicine
  </button>

  <app-filter 
  [config]="filterConfig"
  [title]="'Filters'"
  (filterChange)="onFilterChange($event)">
  </app-filter>
  
  <div class="table-responsive">
    <app-table
    [columns]="medicineColumns"
    [data]="medicines"
    [actions]="tableActions"
    (sort)="onSortChange($event)"
    ></app-table>
  </div>

  <app-pagination
    [totalItems]="totalItems"
    [currentPage]="medicineParams.pageNumber || 1"
    [pageSize]="medicineParams.pageSize || 10"
    (pageChange)="onPageChange($event)"
  ></app-pagination>  

  
  <app-create-medicine-request-form
  *ngIf="isCreateRequestOpen"
  [medicines]="allMedicines"
  [preselectedMedicine]="selectedMedicineForRequest"
  (submitRequest)="handleRequestSubmit($event)"
  (cancelRequest)="closeCreateRequestModal()"
  ></app-create-medicine-request-form>

  
  <app-create-medicine-form
  *ngIf="isCreateMedicineOpen"
  [medicine]="selectedMedicine"
  [allMedicines]="allMedicines"
  (save)="selectedMedicine ? updateMedicine($event) : createMedicine($event)"
  (close)="closeModal()">
</app-create-medicine-form>


  
  <app-delete-confirmation-modal
  *ngIf="medicineToDelete"
  [isOpen]="!!medicineToDelete"
  [name]="medicineToDelete.name"
  (confirm)="handleDeleteConfirm()"
  (cancel)="handleDeleteCancel()"
  ></app-delete-confirmation-modal>


  <app-medicines-details
    *ngIf="selectedMedicine && !isCreateMedicineOpen"
    [medicine]="selectedMedicine"
    (onClose)="onCloseFromDetails()"
    (onEdit)="onEditFromDetails($event)"
    (onCreate)="onCreateRequestFromDetails($event)"
    (onDelete)="onDeleteFromDetails($event)"
  ></app-medicines-details>
</div>