<div class="container mt-5">
  <h2 class="mb-4">Audits</h2>

  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <button class="btn btn-success mb-3" (click)="openCreateModal()">
    <i class="bi bi-plus-circle"></i> Create Audit
  </button>


  <app-filter 
  [config]="filterConfig"
  [title]="'Filters'"
  (filterChange)="onFilterChange($event)">
  </app-filter>

  <div class="table-responsive">
    <app-table
    [columns]="auditColumns"
    [data]="audits"
    [actions]="tableActions"
    (sort)="onSortChange($event)"
    ></app-table>
  </div>

  <app-pagination
    [totalItems]="totalItems"
    [pageSize]="pageSize"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)"
  ></app-pagination>  
    
  <app-create-audit-form
  *ngIf="isCreateAuditModalOpen"
  [medicines]="allMedicines"
  (submitRequest)="saveAudit($event)"
  (cancelRequest)="closeCreateAuditModal()"
></app-create-audit-form>
  
  <app-audit-notes
  *ngIf="auditToStart"
  [title]="'Start Audit'"
  (submit)="handleStartSubmit($event)"
  (cancel)="auditToStart = null">
  </app-audit-notes>

  <app-audit-notes
    *ngIf="auditToClose"
    [title]="'Close Audit'"
    (submit)="handleCloseSubmit($event)"
    (cancel)="auditToClose = null">
  </app-audit-notes>

  <app-audit-update-items
  *ngIf="auditToUpdate"
  [title]="'Update Audit Items'"
  [auditItems]="auditToUpdate.auditItems || []"
  [showQuantities]="true"
  (submit)="handleUpdateSubmit($event)"
  (cancel)="auditToUpdate = null"
  ></app-audit-update-items>  

  <app-delete-confirmation-modal
  *ngIf="auditToDelete"
  [isOpen]="!!auditToDelete"
  [name]="auditToDelete.title"
  (confirm)="handleDeleteConfirm()"
  (cancel)="handleDeleteCancel()"
  ></app-delete-confirmation-modal>

  
  <app-audits-details
      *ngIf="selectedAudit && !isCreateAuditModalOpen"
      [audit]="selectedAudit"
      (onClose)="onCloseDetails()"
      (onUpdate)="onUpdateAuditFromDetails($event)"
      (onDelete)="onDeleteAuditFromDetails($event)"
      (onStartAudit)="onStartAuditFromDetails($event)"
      (onCloseAudit)="onCloseAuditFromDetails($event)"
  ></app-audits-details>



</div>